@{
	ViewBag.Title = "Home";
}
<head>
	<title>Add To Homescreen</title>

	<link href="~/addtohomescreen.css" rel="stylesheet" type="text/css" />
	<script src="~/Scripts/addtohomescreen.js"></script>
	<script>
		addToHomescreen();
	</script>
</head>
	

<div class="jumbotron" style="text-align: center;">

	<h1>Welcome to Shoutout</h1>
	<p class="lead">An employee recognition program made by Provalus</p>
	<p><a class="btn btn-default" href="~/Shoutouts/Create">Make a shoutout</a></p>

</div>